body {
    padding-top: 40px;
    padding-bottom: 120px;
}

p {
  margin: 0;
  font-weight: bold;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 114px;
}

.welcome {
    font-size: 18px;
    display: inline;
    padding: 5px;
}

img {
    display: block;
    max-width: 30px;
    max-height: 30px;
    height: auto;
  }

  .panel-title{
    text-align: center;
    font-size: 32px;
  }

  .panel-body{
    text-align: left;
  }

  .criteria {
      font-size: 18px;

  }
  .arrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .desc {
    width: 100%;
    text-align: center;
  }
